<%- include('header') -%>
<body>
  <h2>It's adventure time</h2>

  <form action="/start" method="post">
    <button>Begin adventure</button>
  </form>
  <br>
  <br>
  <form action="" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username"><br>
    <button>Continue adventure</button>
  </form>
</body>

<%- include('footer') -%>
