<%- include('header') -%>
<body>
  <h2>It's adventure time</h2>

  <form action="/start" method="post">
    <button>Begin adventure</button>
  </form>
  <br>
  <br>
  <form action="/" method="post">
    <label for="token">Username</label>
    <input type="text" name="token" id="token"><br>
    <button>Continue adventure</button>
  </form>
<br>
  <p style="color:red;"><%= message %></p>
</body>

<%- include('footer') -%>
